/* body, header, h1, main, section - #Skilpadde, article - p, img */

body {
  background-color: cornflowerblue;
}

header {
  background-color: white;
  min-height: 100svh;
}

h1 {
  text-align: center;
}

main {
  min-height: 100svh;
  background-color: lightblue;
}

img {
  width: 200px;
}
