/* body, header, h1, main, section - #Skilpadde, article - p, img */

body {
  background-color: cornflowerblue;
}

header {
  background-color: white;
  min-height: 20svh;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

main {
  min-height: 50svh;
  background-color: lightblue;
}

#Skilpadde {
  background-color: red;
}

img {
  width: 200px;
}
